{% load static %}

<ul class="nav metismenu" id="side-menu">
    <li class="nav-header">
        <div class="dropdown profile-element">
                <span>
                    <a href="#">
                        <img  class="center-block img-responsive" src="{% static 'logo.png' %}" style="width: 80px;" />
                    </a>
                </span><br>
                <h4 class="text-center" style="color:#FFF;">Arriendo de Bicicletas</h4>
        </div>
        <div class="logo-element">
            Bici
        </div>
    </li>

    <li>
        <a href="{% url 'index' %}"><i class="fa fa-home"></i> <span class="nav-label">Inicio</span></a>
    </li>
    {% if request.user.encargado %}
    <li>
        <a href="" disabled><i class="fa fa-book " disabled></i> <span class="nav-label">Registrar Reserva</span></a>
    </li>
    <li>
        <a href="" disabled><i class="fa fa-book " disabled></i> <span class="nav-label">Registrar Cliente</span></a>
    </li>
    <li>
        <a href="" disabled><i class="fa fa-shopping-cart " disabled></i> <span class="nav-label">Bodega</span></a>
    </li>
    {% elif request.user.cliente %}
    <li>
        <a href="" disabled><i class="fa fa-book " disabled></i> <span class="nav-label">Reservar</span></a>
    </li>
    {% endif %}
</ul>