@media only screen and (max-width:420px){
    .horarios{
        text-align:center;
    }
}
@media only screen and (max-width:400px){
    .article h1{
        font-size: 30px;
        font-weight: 700;
        color: #2F4050;
    }
}