{% extends "base.html" %}
{% load static %}

{% block stylesheet %}

<link href="{% static 'css/plugins/sweetalert/sweetalert.css' %}" rel="stylesheet">
<link href="{% static 'css/plugins/chosen/bootstrap-chosen.css' %}" rel="stylesheet">
<link href="{% static 'css/ios.css' %}" rel="stylesheet">
<link href="{% static 'css/styles.css' %}" rel="stylesheet">

{% endblock stylesheet %}


{% block breadcrumb %}
<div class="row wrapper border-bottom white-bg page-heading" style="padding-bottom: 0px;">
    <div class="col-lg-10">
        <h2>Dashboard</h2>
    </div>
    <div class="col-lg-2">

    </div>
</div>
{% endblock breadcrumb %}
{% block content %}

<div class="row">
    <div class="col-md-12 col-lg-12 col-xs-12">
    {% if messages %}
    {% for message in messages %}
        <div {% if message.tags %} class="{{ message.tags }} alert alert-danger alert-dismissable" {% endif %}>
            <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
            {{message}}.
        </div>
    {% endfor %}
    {% endif %}
    {% if request.user.cliente  %}
        <div class="col-lg-2 col-md-6 col-sm-6 col-xs-6">
            <a href="#">
                <div class="widget navy-bg p-md text-center">
                    <div class="m-b-md">
                        <i class="fa fa-shield fa-4x"></i>
                        <h3 class="font-bold no-margins">
                            Reservar
                        </h3>
                        <small>Generar una reserva</small>
                    </div>
                </div>
            </a>
        </div>
    {% elif request.user.encargado %}
        <div class="col-lg-2 col-md-6 col-sm-6 col-xs-6">
            <a href="#">
                <div class="widget navy-bg p-md text-center">
                    <div class="m-b-md">
                        <i class="fa fa-list-alt fa-4x"></i>
                        <h3 class="font-bold no-margins">
                            Reservar
                        </h3>
                        <small>Generar una reserva</small>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-lg-2 col-md-6 col-sm-6 col-xs-6">
            <a href="#">
                <div class="widget lazur-bg p-md text-center">
                    <div class="m-b-md">
                        <i class="fa fa-address-book fa-4x"></i>
                        <h3 class="font-bold no-margins">
                            Registrar
                        </h3>
                        <small>Registrar nuevo cliente</small>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-lg-2 col-md-6 col-sm-6 col-xs-6">
            <a href="#">
                <div class="widget yellow-bg p-md text-center">
                    <div class="m-b-md">
                        <i class="fa fa-shopping-cart fa-4x"></i>
                        <h3 class="font-bold no-margins">
                            Bodega
                        </h3>
                        <small>Manejo de productos</small>
                    </div>
                </div>
            </a>
        </div>
    
    {% endif %}
    </div>
</div>

{% endblock content %}


{% block javascript %}
<script src="{% static 'js/plugins/chosen/chosen.jquery.js' %}"></script>


{% endblock javascript %}